// Colors (https://lospec.com/palette-list/1bit-monitor-glow)
$light-black: #222323;
$light-blue:  #4488ff;
$blue:        #0000ee;
$midtone:     #888;
$light-white: #f0f6f0;

body {
  --background: #{$light-white};
  --foreground: #{$light-black};
  --link: #{$blue};
  &.dark {
    --background: #{$light-black};
    --foreground: #{$light-white};
    --link: #{$light-blue};
  }
}

.flow > * + * {
  margin-top: 2rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
  margin: auto;
  max-width: 50rem;
  padding: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
}

header, main {
  svg {
    fill: var(--foreground);
  }

  h1 {
    font-family: monospace;
    font-size: normal;

    > span {
      display: block;
      text-align: center;

      &.header__subtitle {
        font-size: .5em;
        font-weight: normal;
      }
    }
  }
}

// This is for the home page. Slightly different formatting for the same elements
main {
  h1 {
    font-size: 3rem;
  }
}

.center-contents {
  margin: auto;
  text-align: center;

  svg {
    display: block;
    margin: auto;
  }
}

a {
  color: var(--link);
}

nav ul {
  list-style-type: none;
  padding: 0;
  li {
    display: inline-block;
    + li {
      margin-left: 1em;
    }
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.post {
  border: 1px solid rgba($midtone, .5);
  border-radius: 10px;
  margin-left:  auto;
  margin-right: auto;
  max-width: 35em;
  padding: 1rem;

  > * + * {
    margin-top: 1rem;
  }

  &__header {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .post__username,
    .post__timestamp {
      color: currentColor;
    }

    .post__username {
      font-size: 1.5em;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &__body {
    font-family: monospace;
    padding: 0 1rem;

    pre {
      white-space: pre-wrap;
    }

    .post__audio-placeholder {
      color: gray;
    }

    audio {
      width: 100%;
    }
  }

  &__footer {
    column-gap: 1rem;
    display: flex;
    justify-content: flex-start;

    button {
      background: none;
      border: none;
      color: currentColor;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

footer {
  font-size: .75em;
}

// Form Elements

form {
  label {
    display: block;

    + label {
      margin-top: 1em;
    }

    > * {
      display: block;
      margin-top: .5em;
    }
  }

  input:invalid {
    border: 2px solid red;
  }
}

.error {
  color: red; // TODO: Use a better color
}

