script.
  const logoutButton = document.getElementById('logout-button');

  logoutButton.addEventListener('click', (e) => {
    fetch('/logout', {
      method: 'POST',
    }).then(response => response.json())
      .then(response => alert(JSON.stringify(response)));
  });
