mixin renderPost(postData)
  article.post(data-id= postData._id)
    section.post__header
      // The URL for the user who made this post
      a.post__username(href= `user/${postData.user.username}`)= postData.user.username
      // The canonical URL for the current post (placeholder)
      a.post__timestamp(href="post/url")
        - const timestamp = postData.timestamp.toISOString();
        time(datetime= timestamp)= timestamp
    section.post__body
      pre.post__content
        code= postData.content
      p.post__audio-placeholder Loading...
      audio.hidden(controls data-equation= postData.content type="audio/wav") Your browser doesn't support HTML audio.
    section.post__footer
      // Buttons and not links because they don't go anywhere
      // Eventually use SVG icons for these
      button(name="rebyte") Rebyte
      button(name="share") Share
      button(name="download") Download

