include ../includes/_logo.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")/
    meta(name="viewport" content="width=device-width, initial-scale=1")/
    title Bytebeat
    link(rel="stylesheet" href="style.css")/
    link(rel="icon" href="data:,")/
  body.dark.flow
    block header
      header
        +logo(100, 100)
        include ../includes/_nav.pug
        include ../includes/_navScripts.pug

    block main

    footer
      p Some blurb about the site, but nothing that important.


    block scripts

