mixin makeInput(fieldAttributes)
  -
    const {
      field,
      type,
      text,
      required,
      pattern,
      minlength,
      maxlength,
      dataValidationMessage
    } = fieldAttributes;
  label= text
    span.error
    input(
      id= field
      name= field
      type= type
      required= required
      minlength= minlength
      maxlength= maxlength
      pattern= pattern
      data-validation-message= dataValidationMessage
    )

