script.
  function elementInViewport(el) {
    var bounding = el.getBoundingClientRect();
    return (
      bounding.top >= 0 &&
      bounding.left >= 0 &&
      bounding.right <= (window.innerWidth || document.documentElement.clientWidth) &&
      bounding.bottom <= (window.innerHeight || document.documentElement.clientHeight)
    )
  }

  document.addEventListener('DOMContentLoaded', () => {
    if (window.Worker) {
      const bytebeatWorker = new Worker('./js/worker.js');

      const renderAudio = (post) => {
        post.dataset.rendered = true;
        const id = post.dataset.id;
        const audio = post.querySelector('audio');
        const equation = audio.dataset.equation;
        bytebeatWorker.postMessage([equation, id]);
      };

      const audioObserver = new IntersectionObserver((entries) => {
        // If intersectionRatio is 0, the target is out of view
        // and we do not need to do anything.
        if (entries[0].intersectionRatio <= 0) {
          return;
        }

        entries.forEach(entry => {
          if (entry.intersectionRatio > 0) {
            const post = entry.target;
            audioObserver.unobserve(post);
            if (!post.dataset.rendered) {
              renderAudio(post);
            }
          }
        });
      });

      const posts = Array.from(document.querySelectorAll('article.post'));

      const renderIfInView = (post) => {
        if (!post.dataset.rendered && elementInViewport(post)) {
          renderAudio(post);
        } else {
          audioObserver.observe(post);
        }
      };

      posts.forEach(post => {
        if (!post.dataset.rendered && elementInViewport(post)) {
          renderAudio(post);
        } else {
          audioObserver.observe(post);
        }
      });

      bytebeatWorker.onmessage = (e) => {
        const bytebeatAudio = e.data[0];
        const id = e.data[1];

        const post = document.querySelector(`article.post[data-id="${id}"]`);
        const placeholder = post.querySelector('.post__audio-placeholder');
        placeholder.classList.toggle('hidden');
        const audio = post.querySelector('audio');
        audio.src = bytebeatAudio;
        audio.classList.toggle('hidden');
      };
    } else {
      console.error('Web workers are necessary to render the audio properly.');
    }
  });

