extends layouts/layout.pug

include includes/_logo.pug

block header
  //- effectively stop the default from rendering

block main
  main.flow.center-contents
    +logo(200, 200)
    include includes/_headerHome.pug
    p.
      #[a(href="/register") Register] or #[a(href="/login") Log In]


