extends layouts/layout.pug
include mixins/makeInput.pug

block main
  //- Form field data for login
  -
    const formFields = [
      {
        field: 'username',
        type: 'text',
        text: 'Username',
        required: true,
        dataValidationMessage: 'Username is required',
      },
      {
        field: 'password',
        type: 'password',
        text: 'Password',
        required: true,
        dataValidationMessage: 'Password is required',
      },
    ];
  main.flow
    h2 Log In

    p.error

    form#login-form(action="#" method="POST" novalidate)
      fieldset
        legend Please enter your information
        each field in formFields
          +makeInput(field)
      button(type="submit") Log In

block scripts
  script.
    const loginForm = document.getElementById('login-form');
    const inputs = loginForm.querySelectorAll('input');

    // Validate and submit form on submission
    loginForm.addEventListener('submit', (event) => {
      event.preventDefault();

      // Validate the input fields
      let isValid = true;
      inputs.forEach(input => {
        const errorField = input.parentElement.querySelector('.error');
        if (!input.validity.valid) {
          errorField.textContent = input.dataset.validationMessage;
          isValid = false;
        } else {
          errorField.textContent = '';
        }
      });

      if (isValid) {
        const errorField = document.querySelector('main .error')
        errorField.textContent = '';

        const formData = new FormData(loginForm);
        const entries = {};
        for (const [key, value] of formData) {
          entries[key] = value;
        }
        inputs.forEach(input => {
          input.disabled = true;
        });
        fetch('/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(entries),
        }).then(async response => {
          switch (response.status) {
            case 401:
              inputs.forEach(input => {
                input.disabled = false;
              });
              errorField.textContent = 'Invalid credentials, please try again.'
              break;
            case 200:
              document.location.href = '/';
              break;
            default:
              errorField.textContent = 'An error occurred. Please refresh the page and try again.';
              console.log('An unknown error has occurred: ', response);
              break;
          }
        })
        .catch(err => {});
      }
    });


