extends layouts/layout.pug
include mixins/makeInput.pug

block main
  //- Form field data for registration
  -
    const formFields = [
      {
        field: 'username',
        type: 'text',
        text: 'Username',
        required: true,
        pattern: '^\\w+$',
        minlength: 3,
        maxlength: 20,
        dataValidationMessage: 'Should include only alphanumeric characters and "_", and be between 3 and 20 characters',
      },
      {
        field: 'email',
        type: 'email',
        text: 'Email',
        required: true,
        dataValidationMessage: 'Should be a valid email address',
      },
      {
        field: 'password',
        type: 'password',
        text: 'Password',
        required: true,
        minlength: 12,
        dataValidationMessage: 'Should be at least 12 characters',
      },
    ];
  main.flow
    h2 Register

    form#registration-form(action="#" method="POST" novalidate)
      fieldset
        legend Please enter your information
        each field in formFields
          +makeInput(field)
      button(type="submit") Make New User

    .registration-confirmation.hidden
      p #[strong Registration was successful!] You can now #[a(href="/login") login].

block scripts
  script.
    const registrationForm = document.getElementById('registration-form');
    const inputs = registrationForm.querySelectorAll('input');

    // Validate and submit form on submission
    registrationForm.addEventListener('submit', (event) => {
      event.preventDefault();

      // Validate the input fields
      let isValid = true;
      inputs.forEach(input => {
        const errorField = input.parentElement.querySelector('.error');
        if (!input.validity.valid) {
          errorField.textContent = input.dataset.validationMessage;
          isValid = false;
        } else {
          errorField.textContent = '';
        }
      });

      if (isValid) {
        const formData = new FormData(registrationForm);
        const entries = {};
        for (const [key, value] of formData) {
          entries[key] = value;
        }
        fetch('/user/create', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(entries),
        }).then(async response => {
          switch (response.status) {
            case 400:
              const errors = await response.json();
              console.log('Errors: ', errors);
              // Depending on which errors exist
              errors.errors.forEach(err => {
                // show those errors for appropriate fields
                const field = registrationForm.querySelector(`[name=${err.param}]`);
                if (!field) {
                  console.error(`Field ${err.param} doesn't exist: `, err);
                  return;
                }
                const errorField = field.parentElement.querySelector('.error');
                errorField.textContent = field.dataset.validationMessage;
              })
              break;
            case 201:
              // Show the confirmation message and hide the form
              registrationForm.classList.toggle('hidden');
              document.querySelector('.registration-confirmation').classList.toggle('hidden');
              break;
            default:
              console.log('An unknown error has occurred: ', response);
              break;
          }
        })
        .catch(err => {});
      }
    });


